@use "src/styles/mixins" as mx;
body {
  background-color: rgb(46, 43, 43);
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 8rem;

  @include mx.media(tablet-up) {
    gap: 14rem;
  }
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}