@use "src/styles/mixins" as mx;
body {
  background-color: rgb(46, 43, 43);
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}