@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.highlights-wrapper {
  padding: 15px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--basic);
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 250px;
  max-height: none;
  min-height: 0;
  position: relative;
  margin-bottom: 10px;
  margin-top: 5.5rem;

  @include mx.media(tablet-up) {
    height: 350px;
    padding: 20px;
    max-height: none;
    min-height: 0;
  }

  @include mx.media(laptop-up) {
    height: 400px;
    min-height: 500px;
    max-height: 620px;
    padding: 30px;
    margin-top: 0;
  }

  @include mx.media(desktop-up) {
    height: 60vh;
    min-height: 550px;
  }
}

.highlights-wrapper:after {
  content: "";
  clip-path: polygon(50% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  background: var(--basic);
  height: 100px;
  min-width: 1700px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: 1;

  @include mx.media(desktop-up) {
    bottom: -1px;
    height: 120px;
  }
}

.header-top-gradient {
  background: linear-gradient(#000, transparent);
  opacity: .6;
  top: 0;
  width: 100%;
  height: 11rem;
  z-index: 1;
  content: "";
  position: absolute;
}

.parallax {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.parallax img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.parallax-link {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 3rem;
  z-index: 1;

  @include mx.media(laptop-up) {
    top: 22%;
  }
}

.content {
  max-width: 120rem;
  align-self: center;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--accent);
  text-shadow: 2px 1px var(--light-primary);
  margin-bottom: 1rem;
  max-width: 33.33333%;

  @include mx.media(laptop-up) {
    font-size: 2.7rem;
  }
}

.banner-numbers {
  display: flex;
  align-items: center;
  border-top: 0;
  padding-top: 0;
}

.discount-parallax {
  position: relative;
  margin-right: 2rem;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: var(--primary);
  color: #fff;
  padding: 0.9rem 0.6rem 0.9rem 0.7rem;
  border-radius: 0.8rem 0.8rem 0;
  z-index: 2;
  font-family: 'Lato', sans-serif;

  @include mx.media(laptop-up) {
    margin-right: 3rem;
    font-size: 1.5rem;
  }
}

.discount-parallax:after {
  transform: skewX(16deg);
  width: 100%;
  border-radius: 0.7rem 0.4rem;
  content: "";
  position: absolute;
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  right: -0.4rem;
  z-index: -1;

  @include mx.media(laptop-up) {
    border-radius: 1rem 0.5rem;
  }
}

.price-parallax {
  font-size: 1.9rem;
  text-shadow: 1px 1px var(--dark-primary);

  @include mx.media(laptop-up) {
    font-size: 4rem;
  }
}