@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.game-details-wrapper {
  display: flex;
  flex-direction: column;

  @include mx.media(tablet-up) {
    flex-direction: row;
    max-width: 63.6rem;
    align-self: center;
  }

  @include mx.media(laptop-up) {
    margin: -1.5rem;
    max-width: initial;
    align-self: flex-start;
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;

    @include mx.media(laptop-up) {
      flex: 0 0 61.6rem;
      width: calc(55% - 3rem);
      margin: 1.5rem 0 1.5rem 1.5rem;
      padding: 0;
    }


    .headline {
      justify-content: flex-start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 120rem;
      align-self: center;
      margin-bottom: 1rem;
      padding: 0;

      @include mx.media(laptop-up) {
        margin-bottom: 3rem;
      }

      h2 {
        font-size: 1.7rem;
        margin-bottom: 0;

        @include mx.media(laptop-up) {
          font-size: 2.7rem;
        }
      }
    }

    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    .readable {
      line-height: 1.8rem;
      font-size: 1.3rem;
      color: var(--grey);

      @include mx.media(laptop-up) {
        line-height: 2.3rem;
        font-size: 1.5rem;
      }
    }

    .show-more-description {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .specifics {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mx.media(tablet-up) {
      align-items: flex-start;
    }

    @include mx.media(laptop-up) {
      display: block;
      margin: 1.5rem 1.5rem 1.5rem 9rem;
    }

    .socials-specifics {
      margin-bottom: 1.3rem;
      min-height: 4.9rem;
      display: flex;
      align-items: center;

      .reviews-rating {
        display: flex;
        align-items: center;
        width: min-content;

        .note-container {
          flex: 0 0 4.5rem;
          margin-right: 1rem;
          font-weight: 700;
          font-size: 1.9rem;
          position: relative;
          display: flex;

          @include mx.media(laptop-up) {
            margin-right: 1.5rem;
          }

          .rate {
            height: 5.25rem;
            width: 5.25rem;
            flex: 0 0 5.25rem;

            @include mx.media(laptop-up) {
              height: 6.25rem;
              width: 6.25rem;
              flex: 0 0 6.25rem;
            }
          }
        }

        .based {
          display: flex;
          flex-direction: column;
          line-height: 2rem;
          color: #999;
          font-size: 1.3rem;

          @include mx.media(laptop-up) {
            font-size: 1.5rem;
            line-height: 2.3rem;
          }

          span {
            white-space: nowrap;
          }

          .based-link {
            color: #fff;
            margin-top: -0.2rem;
          }
        }
      }
    }

    .table {
      line-height: 2.3rem;
      color: var(--grey);
      display: table;
      font-size: 1.3rem;

      @include mx.media(laptop-up) {
        font-size: 1.5rem;
      }

      .table-row {
        display: table-row;

        .table-cell {
          display: table-cell;

          .table-link {
            color: #fff;
            cursor: pointer;
          }

          .table-link:hover {
            color: var(--accent);
          }

          .table-text {
            font-size: 1.5rem;
          }
        }

        .table-cell:first-of-type {
          padding-right: 3rem;
          white-space: nowrap;
        }
      }
    }
  }
}

.seperator-details {
  display: none;
  height: 3rem;

  @include mx.media(laptop-up) {
    display: block;
  }
}
