@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.game-details-wrapper {
  margin: -1.5rem;
  display: flex;

  .about {
    width: calc(55% - 3rem);
    flex: 0 0 61.6rem;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 1.5rem 1.5rem;

    .headline {
      justify-content: flex-start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 120rem;
      align-self: center;
      margin-bottom: 3rem;
      padding: 0;

      h2 {
        font-size: 2.7rem;
        margin-bottom: 0;
      }
    }

    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    .readable {
      line-height: 2.3rem;
      font-size: 1.5rem;
      color: var(--grey);
    }

    .show-more-description {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .specifics {
    width: 100%;
    margin: 1.5rem 1.5rem 1.5rem 9rem;

    .socials-specifics {
      margin-bottom: 1.3rem;
      min-height: 4.9rem;
      display: flex;
      align-items: center;

      .reviews-rating {
        display: flex;
        align-items: center;
        width: min-content;

        .note-container {
          flex: 0 0 4.5rem;
          margin-right: 1.5rem;
          font-weight: 700;
          font-size: 1.9rem;
          position: relative;
          display: flex;

          .rate {
            height: 6.25rem;
            width: 6.25rem;
            flex: 0 0 6.25rem;
          }
        }

        .based {
          display: flex;
          flex-direction: column;
          line-height: 2.3rem;
          color: #999;
          font-size: 1.5rem;

          span {
            white-space: nowrap;
          }

          .based-link {
            color: #fff;
            margin-top: -0.2rem;
          }
        }
      }
    }

    .table {
      line-height: 2.3rem;
      color: var(--grey);
      display: table;
      font-size: 1.5rem;

      .table-row {
        display: table-row;

        .table-cell {
          display: table-cell;

          .table-link {
            color: #fff;
            cursor: pointer;
          }

          .table-link:hover {
            color: var(--accent);
          }

          .table-text {
            font-size: 1.5rem;
          }
        }

        .table-cell:first-of-type {
          padding-right: 3rem;
          white-space: nowrap;
        }
      }
    }
  }
}