:root {
  --basic: #f8f8f8;
  --white: #ffffff;
  --black: #000000;
  --primary: #4E4E4E; 
  --secondary: #43BCCD; 
  --accent:#EA3546; 
  --grey:#8D8D8D;
  --lightGrey:#D9D9D9;
  --fontPoppins:'Poppins', sans-serif;
  --fontDongle: 'Dongle', sans-serif;
  --fontRajdhani:'Rajdhani', sans-serif;
}