@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.games-panel-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .games-panel {
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;

    @include mx.media(laptop-up) {
      flex-direction: row;
    }

    .game-graphic-presentation {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 45%;

      @include mx.media(mobile-up) {
        flex: 0 0 61.6rem;
        height: 35.3rem;
        padding-top: 0;
      }

      .banner {
        display: flex;
        justify-content: center;

        .banner-graphic {
          width: 100%;
          object-fit: cover;
          max-width: 61.6rem;

          @include mx.media(mobile-up) {
            border-radius: 1.5rem;
          }
        }
      }
    }

    .game-panel-item {
      border-radius: 1.5rem;
      backdrop-filter: blur(60px) saturate(100%);
      -webkit-backdrop-filter: blur(60px) saturate(100%);
      padding: 0 1rem;
      width: 100%;
      z-index: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-image: linear-gradient(1turn,var(--basic),rgba(12, 39, 1, 0) 70%);
      background-color: transparent;

      @include mx.media(mobile-up) {
        margin-left: 6rem;
        padding: 2rem 2rem 0;
      }

      .item-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: .5rem 3rem;

        h1 {
          font-size: 1.5rem;
          line-height: 2rem;
          text-align: center;
          font-weight: bold;
          font-family: 'Lato', sans-serif;

          @include mx.media(mobile-up) {
            font-size: 1.9rem;
            line-height: 2.5rem;
          }
        }
      }

      .item-subinfo {
        font-size: 1.3rem;
        background-color: var(--basic-dark);
        padding: .7rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .7rem;
        margin: 1rem;
        min-height: 5rem;
        box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 15%);
        width: calc(100% - 2rem);

        @include mx.media(mobile-up) {
          background-color: rgba(12, 39, 1, .3);
          border-radius: 10rem;
          box-shadow: none;
          padding: .7rem 2rem;
          width: auto;
        }

        .platform {
          margin-left: -1.2rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          .platform-nintendo {
            margin-right: 1rem;
            background-color: #ff151f;
            border-radius: 100%;
            padding: .5rem;

            .icon-s {
              width: 2rem;
              height: 2rem;
              flex: 0 0 2rem;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-position: center;
              -webkit-mask-position: center;
              background-color: #fff;

              @include mx.media(mobile-up) {
                width: 3rem;
                height: 3rem;
                flex: 0 0 3rem;
              }
            }

            .icon-switch {
              mask-image: url(./src/switch-icon.png);
              -webkit-mask-image: url(./src/switch-icon.png);
            }
          }

          .platform-ps {
            margin-right: 1rem;
            background-color: #008aff;
            border-radius: 100%;
            padding: .5rem;

            .icon-s {
              width: 2rem;
              height: 2rem;
              flex: 0 0 2rem;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-position: center;
              -webkit-mask-position: center;
              background-color: #fff;

              @include mx.media(mobile-up) {
                width: 3rem;
                height: 3rem;
                flex: 0 0 3rem;
              }
            }

            .icon-ps {
              mask-image: url(./src/ps-icon.png);
              -webkit-mask-image: url(./src/ps-icon.png);
            }
          }

          .platform-xbox {
            margin-right: 1rem;
            background-color: #fff;
            border-radius: 100%;

            .icon-s {
              width: 2rem;
              height: 2rem;
              flex: 0 0 2rem;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-position: center;
              -webkit-mask-position: center;
              background-color: #fff;

              @include mx.media(mobile-up) {
                width: 3rem;
                height: 3rem;
                flex: 0 0 3rem;
              }
            }

            .icon-xbox {
              mask-image: url(./src/xbox-icon.png);
              -webkit-mask-image: url(./src/xbox-icon.png);
            }
          }

          .platform-pc {
            margin-right: 1rem;
            background-color: #fff;
            border-radius: 100%;

            .icon-s {
              width: 2rem;
              height: 2rem;
              flex: 0 0 2rem;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-position: center;
              -webkit-mask-position: center;
              background-color: #fff;

              @include mx.media(mobile-up) {
                width: 3rem;
                height: 3rem;
                flex: 0 0 3rem;
              }
            }

            .icon-pc {
              mask-image: url(./src/pc-icon.png);
              -webkit-mask-image: url(./src/pc-icon.png);
            }
          }
        }

        .avaible {
          display: flex;
          align-items: center;

          .spacer {
            display: none;

            @include mx.media(mobile-up) {
              display: block;
            }
          }
        }

        .download {
          align-items: center;
          display: none;

          @include mx.media(mobile-up) {
            display: flex;
          }
        }
      }

      .viral {
        display: flex;
        align-items: flex-end;
        margin: .5rem 1rem;
        font-size: 1.5rem;
        font-weight: normal;

        @include mx.media(mobile-up) {
          font-size: 1.8rem;
          font-weight: bold;
        }

        .fire {
          display: flex;
          align-items: flex-end;
          
          .fire-icon {
            margin-right: .5rem;
            background-color: #ff0a4e;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
            mask-position: center;
            -webkit-mask-position: center;
            mask-image: url(./src/fire.png);
            -webkit-mask-image: url(./src/fire.png);
          }
        }
      }

      .amount {
        margin-top: auto;
        display: flex;
        align-items: baseline;
        margin: .5rem 0;

        @include mx.media(mobile-up) {
          margin: auto 1rem 1rem 1rem;
        }

        .discounts {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: auto;

          .icon-tag {
            width: 2rem;
            height: 2rem;
            flex: 0 0 2rem;
            margin-bottom: .2rem;
            position: relative;
            top: .1rem;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
            mask-position: center;
            -webkit-mask-position: center;
            background-color: #fff;
            mask-image: url(./src/discount.png);
            -webkit-mask-image: url(./src/discount.png);
          }

          .retail {
            font-size: 1.9rem;
            margin-left: .5rem;
            text-decoration: line-through;
          }
        }

        .discounted {
          font-size: 2.1rem;
          margin-left: 1rem;
          color: var(--accent);

          @include mx.media(mobile-up) {
            font-size: 1.9rem;
          }
        }

        .total {
          padding-top: 1rem;
          font-size: 2.3rem;
          display: flex;
          justify-content: flex-end;
          margin-left: 1rem;
          line-height: 3rem;
          align-items: baseline;

          @include mx.media(mobile-up) {
            font-size: 4rem;
          }
        }
      }

      .action-priced {
        margin: .3rem .5rem 0;
        display: flex;
        margin: .5rem .5rem 0 .5rem;
        width: 100%;

        .button {
          border-radius: .8rem;
          font-weight: 700;
          font-size: 1.5rem;
          background: var(--gradient-primary);
          color: #fff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 5.2rem;
          box-sizing: border-box;
          padding: 0 3rem;
          border: 0;
          cursor: pointer;
          text-align: center;
          white-space: normal;
          -webkit-appearance: none;
          transition: background-color .2s;

          @include mx.media(mobile-up) {
            font-size: 1.7rem;
            height: 5.6rem;
          }
        }

        .button-addToCart {
          padding: 0 1.5rem;
          background: var(--gradient-primary);
          flex: 0 0 11rem;
          margin-right: .7rem;
          width: 100%;
          margin: .5rem .5rem 0 .5rem;

          .icon-cart-games-panel {
            position: relative;
            left: -0.2rem;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
            mask-position: center;
            -webkit-mask-position: center;
            background-color: #fff;
            mask-image: url(../../header/src/shoping-cart.png);
            -webkit-mask-image: url(../../header/src/shoping-cart.png);
          }
        }

        .button-buyNow {
          font-size: 1.9rem;
          padding: 0 1.5rem;
          margin: .5rem .5rem 0 .5rem;
          width: 100%;
        }
      }
    }

    .game-panel-item.wide {
      min-height: 100%;

      @include mx.media(mobile-up) {
        height: 35.3rem
      }
    }
  }

  .games-panel {
    min-height: 100%;
  }
}

  .game-graphic-presentation:after {
    content: "";
    clip-path: polygon(0 100%,100% 100%,0 0);
    background: var(--basic);
    height: 60px;
    min-width: 1700px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    z-index: 1;
    min-width: 100%;
    height: 6%;

    @include mx.media(mobile-up) {
      display: none;
    }
  }

.seperator {
  height: 3rem;

  @include mx.media(mobile-up) {
    height: 4rem;
  }

  @include mx.media(tablet-up) {
    height: 5rem;
  }

  @include mx.media(laptop-up) {
    height: 6rem;
  }
}

.spacer {
  background-color: hsla(0, 0%, 100%, 0.691);
  width: .1rem;
  height: 2rem;
  margin: 0 1rem;
}

.icon-check {
  background-color: #25de57;
  margin-right: 1rem;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-image: url(./src/icon-check.png);
  -webkit-mask-image: url(./src/icon-check.png);
}

.icon-xxs {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.5rem;
}

.icon-s {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 2.5rem; 
}