@use "src/styles/mixins" as mx;
.content-wrapper {
  max-width: 120rem;
  align-self: center;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: -23rem;
  margin-bottom: -23rem;
  position: relative;
  width: auto;
}