@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.login-interface-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-image: url(./src/background-img2.jpg);
  

  .register {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--basic);
    padding: 3rem;
    border-radius: 1.5rem;
    border: 2.5rem solid var(--light-primary);
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;

    @include mx.media(tablet-up) {
      max-width: 58rem;
      height: auto;
      padding: 5rem;  
    }

    .logo-ig {
      z-index: 2;
      background-image: url(../header/src/logo3.png);
      background-size: 100%;
      width: 22.5rem;
      height: 6rem;
      margin-bottom: 3.4rem;
    }

    .register-title {
      color: var(--white);
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
      text-align: center;
    }

    .panel-log-via {
      display: flex;
      margin: -1rem;
      width: 100%;

      .log-via {
        display: flex;
        width: 100%;
        margin: .5rem;
        border-radius: .8rem;
        font-size: 1.3rem;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        color: #fff;
        transition: .2s;

        @include mx.media(tablet-up) { 
          margin: 1rem;
        }

        .icon {
          border-radius: 10rem;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon-xs {
            width: 2.5rem;
            height: 2.5rem;
            flex: 0 0 2.5rem;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
            mask-position: center;
            -webkit-mask-position: center;
            background-color: #fff;
          }

          .icon-fb {
            mask-image: url(./src/fb.png);
            -webkit-mask-image: url(./src/fb.png);
          }

          .icon-gmail {
            background-image: url(./src/gmail.png);
            background-size: 100%;
          }

          .icon-steam {
            mask-image: url(./src/steam.png);
            -webkit-mask-image: url(./src/steam.png);
          }

          .icon-apple {
            mask-image: url(./src/apple-logo.png);
            -webkit-mask-image: url(./src/apple-logo.png);
            background-color: black;
          }

          .icon-epicGames {
            mask-image: url(./src/epic-games.png);
            -webkit-mask-image: url(./src/epic-games.png);
          }
        }
      }

      .log-via-fb {
        background-color: #1877f2;
      }

      .log-via-gmail {
        background-color: #fff;
      }

      .log-via-steam {
        background-color: black;
      }

      .log-via-apple {
        background-color: #fff;
      }

      .log-via-epicGames {
        background-color: black;
      }
    }
  }
}

.log-via:hover {
  box-shadow: inset 0px 0px 0px 2px var(--light-accent);
  box-sizing: border-box;
}

.orSeparetor {
  width: calc(100vw - 7rem);
  font-size: 1.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2.5rem 0 2.5rem;

  @include mx.media(tablet-up) {
    width: 50rem;
    margin: 4rem 0 3rem;
  }

  span {
    padding: 0 1rem;
    background-color: var(--basic);
    z-index: 1;
  }
}

.orSeparetor:after {
  content: "";
  display: flex;
  background-color: hsla(0, 0%, 100%, 0.2);
  margin: 4rem 0;
  height: 0.1rem;
  width: 100%;
  position: absolute;
}

.label-email {
  text-transform: uppercase;
  display: block;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
  letter-spacing: .15em;
  margin: 0 0 .8rem 0;
  line-height: 1.129;
  font-weight: bold;
  text-align: start;
}

.input-wrapper {
  margin-bottom: 1.6rem;
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  height: 4.8rem;
  padding: 0 1rem;
  margin: 0;
  outline: 0;
  border: 1px solid #c3c6ce;
  padding-inline-start: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.129;
  border-radius: .8rem;
  font-size: 1.6rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03rem;
  color: #fff;
  background: var(--gradient-primary);
  border-width: var(--stroke-width-small);
  border-color: var(--accent);
}

.input:focus {
  box-shadow: 0 0 1rem rgba(255, 255, 255, .3);
  border-color: var(--light-accent);
}

.password-button {
  position: absolute;
  top: .8rem;
  right: 1.2rem;
  bottom: .8rem;
  z-index: 1;
  margin-top: 0;
  padding: .8rem .8rem;
  width: 4rem;
  border: solid 0 transparent;
  color: #fff;
  background: transparent;
  letter-spacing: .15em;
  line-height: 1.129;
  height: 3.2rem;
  font-size: 1.2rem;
  border-radius: .8rem;
}

.password-button:after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform .125s cubic-bezier(0.86,0,0.07,1) 0s,opacity .125s cubic-bezier(0.86,0,0.07,1) 0s;
  width: 100%;
  background-color: var(--dark-primary);
  border: medium none;
  opacity: 50%;
}

.show-icon {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 2.5rem;
  position: absolute;
  transform: translate( 0, -20%);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #fff;
}

body.hidden-password .show-icon {
  mask-image: url(./src/hide-password.png);
  -webkit-mask-image: url(./src/hide-password.png);
}

body.visable-password .show-icon {
  mask-image: url(./src/show-password.png);
  -webkit-mask-image: url(./src/show-password.png);
}

.sign-in-button {
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  border: solid 0 transparent;
  color: #fff;
  background: var(--gradient-primary);
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  border-radius: .8rem;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: .15em;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.86,0,0.07,1);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  vertical-align: middle;
  transition: background .3s ease-in-out,border .3s ease-in-out,color .3s ease-in-out;
}

.sign-in-button:hover {
  transition-duration: .18s;
  transform: scale(0.96);
  box-shadow: 0 0 3rem rgba(39, 106, 252, .2);
}

.forgot-password-section {
  text-align: center;
  margin: 2rem 0;

  .forget-password {
    display: inline-block;
    width: max-content;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.03rem;
    color: var(--light-accent);
    margin-bottom: auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.309;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .forget-password:hover {
    border-bottom: 1px solid var(--light-accent);
    padding-bottom: .03rem;
  }
}

.create-acc-button {
  margin-top: 0;
  width: 100%;
  max-width: 100%;
  background: #081a01;
  border: 2px solid var(--primary);
  color: #fff;
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  border-radius: .8rem;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: .15em;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.86,0,0.07,1);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  vertical-align: middle;
  transition: background .3s ease-in-out,border .3s ease-in-out,color .3s ease-in-out;
}

.create-acc-button:hover {
  transition-duration: .18s;
  transform: scale(0.96);
  border-color: var(--light-primary);
  box-shadow: 0 0 3rem rgba(31, 68, 210, .2);
}
