@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  background-color: var(--dark-primary);
  color: var(--white);
  padding: 1rem 0 2rem 0;

  @include mx.media(tablet) {
    padding: 1rem 1.5rem;
  }

  @include mx.media(mobile) {
    padding: 1rem 1.5rem;
  }
}

.footer-content {
  max-width: 120rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgb(46, 43, 43);

  @include mx.media(laptop) {
    flex-direction: row;
    margin-bottom: 1rem;
  }

  @include mx.media(mobile) {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  @include mx.media(laptop) {
    display: none;
  }

  @include mx.media(mobile) {
    display: none;
  }
}

.logo-br {
  font-size: 3.5rem;
  color: var(--white);
  text-decoration: none;
  text-shadow: 2px 1px var(--black);
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;

  @include mx.media(mobile) {
    padding-bottom: 0;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mx.media(mobile) {
    align-items: center;
  }
}

.sublinks {
  padding: 1rem 1rem 1rem 0rem;
  display: flex;
  align-items: center;
  text-shadow: 2px 1px var(--black);

  @include mx.media(laptop) {
    padding: .5rem;
    font-size: 1.8rem;
  }

  @include mx.media(tablet) {
    font-size: 1.5rem;
  }

  @include mx.media(mobile) {
    padding: .5rem;
    font-size: 1.5rem;
  }
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  @include mx.media(mobile) {
    padding-bottom: 0;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: -0.7rem;
  justify-content: flex-end;

  @include mx.media(laptop) {
    transform: scale(.9);
    grid-gap: .5rem;
  }

  @include mx.media(tablet) {
    transform: scale(.8);
    grid-gap: .5rem;
  }

  @include mx.media(mobile) {
    transform: scale(.7);
    grid-gap: .5rem;
    grid-template-columns: repeat(6, 1fr);
  }
}

.icons a:hover {
  transform: scale(1.1);
}

.socials {
  transition: .1s;
  margin: 0.7rem;
  padding: 1rem;  
}

.icon-socials {
  width: 3rem;
  height: 3rem;
}

.facebook {
  background-color: rgba(24,119,242, .2);
  border-radius: 100%;
}

.icon-facebook {
  mask-image: url(./src/icon-facebook.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #ffffff;
}

.twitch {
  background-color: rgba(176, 46, 246, 0.2);
  border-radius: 100%;
}

.icon-twitch {
  mask-image: url(./src/icon-twitch.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #7808c4;
}

.youtube {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 100%;
}

.icon-youtube {
  mask-image: url(./src/icon-youtube.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #b80b0b;
}

.instagram {
  background-color: rgba(249, 233, 118, 0.2);
  border-radius: 100%;
}

.icon-instagram {
  mask-image: url(./src/icon-instagram.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #cdca6a;
}

.reddit {
  background-color: rgba(243, 84, 11, 0.618);
  border-radius: 100%;
}

.icon-reddit {
  mask-image: url(./src/icon-reddit.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #e3e3e3;
}

.twitter {
  background-color: rgba(0, 145, 255, 0.375);
  border-radius: 100%;
}

.icon-twitter {
  mask-image: url(./src/icon-twitter.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #fdfdfd;
}

.footer-hero-wrapper {
  background-image: url(./src/ghost-of-tushima-hero.png);
  background-size: cover;
  height: 23.8rem;
  width: 50rem;
  position: relative;

  @include mx.media(laptop) {
    width: 40rem;
    height: 21rem;
  }

  @include mx.media(tablet) {
    width: 35rem;
    height: 21rem;
  }

  @include mx.media(mobile) {
    width: auto;
    height: 15rem;
    background-position-x: 5rem;
    background-repeat: no-repeat;
  }
}

.hero-heading {
  position: absolute;
  padding: 3rem 0 0 4rem;
  font-size: 3rem;
  font-family: 'Sawarabi Mincho', serif;
  text-shadow: 2px 1px var(--black);

  @include mx.media(laptop) {
    padding: 3rem 0 0 3rem;
    font-size: 2.5rem;
  }

  @include mx.media(tablet) {
    padding: 2rem 0 0 1rem;
    font-size: 2.5rem;
  }

  @include mx.media(mobile) {
    padding: 2rem 0 0 7rem;
    font-size: 2rem;
  }
}

.information-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family: arial,sans-serif;

  @include mx.media(mobile) {
    justify-content: center;
  }
}

.copyright {
  @include mx.media(mobile) {
    display: none;
  }
}

.lng-currency {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-shadow: 2px 1px var(--black);
}

.location-icon {
  margin-right: 1rem;
  mask-image: url(./src/icon-location.png);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  flex: 0 0 2rem;
}

.language {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgb(46, 43, 43);
}
