@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  color: #fff;
}

.section-wrapper-bestseller {
  max-width: 120rem;
  width: 100%;
  margin: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-self: center;

  @include mx.media(laptop) {
    margin: 0 0 2rem 0;
    gap: 2rem;

    h2 {
      text-align: center;
    }
  }
}

.games-container {
  margin: 0;
  padding: -1.5rem;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  @include mx.media(laptop) {
    display: none;
  }
}

.splide-wrapper {
  @include mx.media(laptop-up) {
    display: none;
  }
}
