@use "src/styles/mixins" as mx;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.section-websiteReviews {
  margin: 1rem 0 2rem 0;

}

.container-mobile-up-websiteReviews {
  display: block;

  @include mx.media(tablet-up) {
    display: none;
  }
}

.container-tablet-up-websiteReviews {
  display: none;

  @include mx.media(tablet-up) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 192rem;
    margin: 0 auto;
  }
}

.container-tablet-up-websiteReviews div:nth-of-type(3) {
  @include mx.media(tablet-up) {
    display: none;
  }

  @include mx.media(laptop-up) {
    display: flex;
  }
}


.item-websiteReviews {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--white);
  width: 100%;
  min-height: 100%;
  border-radius: 1.5rem;
  border: 1px solid var(--light-primary);
  position: relative;

  @include mx.media(tablet-up) {
    width: calc(100% - 1rem);
    margin: .5rem;
  }

  @include mx.media(laptop-up) {
    width: calc(100% - 3rem);
    margin: 1.5rem;
  }
}

.item-websiteReviews::after {
  border-radius: 1.3rem;
  position: absolute;
  display: block;
  content: '';
  border: 3px solid var(--accent);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.user-websiteReviews {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.user-icon-websiteReviews {
  height: 5rem;
  flex: 0 0 5rem;
  border-radius: 30%;
  border: 2px solid var(--black);
}

.review-summary-websiteReviews {
  display: flex;
  flex-direction: column;
}

.rating-container-websiteReviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;

  span {
    font-size: 1.5rem;
    color: var(--accent);
    text-shadow: 1px 0.5px var(--light-primary);
  }
}

.star-websiteReviews {
  height: 1.8rem;
  width: auto;
}

.game-name-websiteReviews {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.5rem;
  margin-top: 1rem;
  overflow: hidden;
  color: var(--primary);
}

.readable-websiteReviews {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  line-height: 2rem;
  color: var(--grey);

  @include mx.media(laptop-up) {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    line-height: 2rem;
  }
}

.time-posted-websiteReviews {
  font-size: 1.3rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}