.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 7rem;
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 2rem;
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}
h1 {
  font-size: var(--font-size-3xl);

}

.menu-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.text {
  color: #fff;
}

 